<div class="page-wrapper">
  <mat-card class="card-container">
    <h2 class="title">Add Business Card</h2>
    <form (ngSubmit)="submitForm()" class="form-grid">

      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput [(ngModel)]="card.name" name="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="card.gender" name="gender" required>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="card.dateOfBirth" name="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="card.email" name="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput type="tel" [(ngModel)]="card.phone" name="phone">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Address</mat-label>
        <textarea matInput [(ngModel)]="card.address" name="address"></textarea>
      </mat-form-field>

        <div class="photo-upload" (drop)="uploadPhoto($event)" (click)="fileInput.click()">
      @if(!photoPreview){
        <ng-container>
        <p>Drag & drop or click to select a photo</p>
      </ng-container>
      }
      @else {
        <ng-container>
        <img [src]="photoPreview" alt="Preview" class="preview-img">
        <button mat-button color="warn" (click)="removePhoto(); $event.stopPropagation()">Remove</button>
      </ng-container>
      }
    
      <input type="file" accept="image/*" (change)="uploadPhoto($event)" #fileInput hidden>
    </div>



      <div class="button-row">
        <button mat-stroked-button color="primary" type="button" (click)="preview = !preview">
          {{ preview ? 'Hide Preview' : 'Show Preview' }}
        </button>
        <button mat-raised-button color="accent" type="submit">Submit</button>
      </div>
    </form>
  </mat-card>

  @if(preview){
  <mat-card class="preview-card">
    <div class="left-section">
      @if(photoPreview){
      <img [src]="photoPreview" class="preview-photo">
      }
    </div>
    <div class="right-section">
      <h3 class="person-name">{{ card.name }}</h3>
      <p><b>Gender:</b>{{ card.gender }}</p>
      <p><b>DOB:</b>{{ card.dateOfBirth | date:'shortDate' }}</p>
      <p><b>Email:</b> {{ card.email }}</p>
      <p><b>Phone:</b> {{ card.phone }}</p>
      <p><b>Address:</b> {{ card.address }}</p>
    </div>
  </mat-card>
  }

  <mat-card class="import-card">
   <h2 class="title">Import Data</h2>

  <div class="drop-zone"
       (dragover)="onDragOver($event)"
       (dragleave)="onDragLeave($event)"
       (drop)="onDrop($event)"
       [class.dragging]="isDragging">

    <p class="title" style="font-weight: normal;">Drag and Drop your file here</p>
    <p class="title" style="font-weight: normal;">or</p>

    <input type="file" (change)="onFileSelected($event)">
  </div>
    @if(selectedFile){
      <div class="file-preview">
        Selected file: {{ selectedFile.name }}
      </div>
    }
  <div class="import-buttons">
    <button mat-stroked-button color="primary" (click)="importCSV()">Import CSV</button>
    <button mat-stroked-button color="accent" (click)="importXML()">Import XML</button>
  </div>
</mat-card>

</div>
